<a href="#" class="list-group-item list-group-item-action mt-2 list-group-item-light">
  <div class="row">
    <div class="col-md-2" (click)="onMoreInfo()">
      <img src="{{ carItem.image == null ? '/' : carItem.image }}" class="img-fluid" alt="{{ carItem.mark == null ? 'brak' : carItem.mark }} {{ carItem.model == null ? 'danych' : carItem.model }}">
    </div>

    <div class="col-md-10" (click)="onMoreInfo()">
      <div class="row">
        <div class="col-md-5">
          <app-data-element [key]="'Marka'" [value]="carItem.mark"></app-data-element>
          <app-data-element [key]="'Model'" [value]="carItem.model"></app-data-element>
          <app-data-element [key]="'Lata Produkcji'" [value]="carItem.productionYear"></app-data-element>
          <!-- Informacje pokazywane na klik -->
          <div *ngIf="showMoreInfo">
            <app-data-element [key]="'Zbiornik Paliwa'" [value]="carItem.fuelTank" [suffix]="'l'"></app-data-element>
            <app-data-element [key]="'Projektant'" [value]="carItem.designer"></app-data-element>
            <app-data-element [key]="'Napęd'" [value]="carItem.drive"></app-data-element>
            <app-data-element [key]="'Ładowność'" [value]="carItem.capacity" [suffix]="'l'"></app-data-element>
            <app-data-element [key]="'Wersje Wyposazenia'" [value]="carItem.eqVersions"></app-data-element>
          </div>
        </div>
        <!-- Tablice obiektów -->
        <div class="col-md-7 mt-2" *ngIf="showMoreInfo">
          <div class="row">
            <div class="col-md">
              <div class="row">
                <div class="col-md">
                    Skrzynie Biegów:
                </div>
              </div>             
              <div class="row" *ngFor="let gearbox of carItem.gearboxes; let i = index">
                <div class="col-md">
                    {{i + 1}}: Biegi: {{ gearbox.gears == null ? 'brak danych' : gearbox.gears }}, Typ: {{ gearbox.type == null ? 'brak danych' : gearbox.type }}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md">
              <div class="row">
                <div class="col-md">
                    Silniki:
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <div *ngFor="let engine of carItem.engines; let i = index">
                    {{i + 1}}: Nazwa: {{ engine.name == null ?   'brak danych' : engine.name }},
                    Liczba Koni Mechanicznych: {{ engine.hp == null ? 'brak danych' : engine.hp }},
                    Typ: {{ engine.type == null ? 'brak danych' : engine.type }}
                  </div>  
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md">
              <div class="row">
                <div class="col-md">
                  Wersje Nadwozia:  
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <div *ngFor="let typeOfBody of carItem.typesOfBody; let i = index">
                    {{i + 1}}: Nazwa: {{ typeOfBody.name == null ? 'brak danych' : typeOfBody.name }},
                    Bagażnik: {{ typeOfBody.carrier == null ? 'brak danych' : typeOfBody.carrier }},
                    Liczba Drzwi: {{ typeOfBody.doors == null ? 'brak danych' : typeOfBody.doors }},
                    Liczba Siedzień: {{ typeOfBody.seats == null ? 'brak danych' : typeOfBody.seats }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-md" *ngIf="showMoreInfo">
            <button type="button" class="btn btn-outline-primary" (click)="onEdit()">Edytuj <i class="far fa-edit"></i></button>
            <button type="button" class="btn btn-outline-danger ml-1" (click)="onDelete()">Usuń <i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
  </div>
</a>
