<div class="row alert alert-secondary">
  <div class="col-md-2" (click)="onMoreInfo()">
    <img src="https://firebasestorage.googleapis.com/v0/b/cars-7bb35.appspot.com/o/fiat-multiplaI.jpg?alt=media&token=7b26bddf-5afe-4d0d-9ca6-b71388105107" class="img-fluid" alt="Fiat Multipla">
  </div>
  <div class="col-md-7" (click)="onMoreInfo()">
          Marka: {{ mark }}<br>Model: {{ model }}<br>Lata produkcji: {{ productionYear }}
  </div>
  <div class="col-md-3">
      <div class="btn-group-vertical">
          <button type="button" class="btn btn-primary" (click)="onEdit()">Edit✎</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()">Delete🗑</button>
        </div>
  </div>
</div>