<div class="mt-2 loginform">
  <div class="form-group">
    <label for="exampleInputEmail1">Adres Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Hasło</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło" [(ngModel)]="password">
  </div>
  <div style="text-align: center">
    <button type="submit" class="btn btn-outline-primary" (click)="login()">Zaloguj się</button>
  </div>
  <div class="mt-2" *ngIf="authService.hasLogginErrorOccured()">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="'INVALID_PASSWORD,INVALID_EMAIL'.includes(authService.getLoginErrorCode())">
      Nieprawidłowy <strong>email</strong> lub <strong>hasło</strong>...
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="'USER_DISABLED'.includes(authService.getLoginErrorCode())">
      Użytkownik został <strong>zablokowany</strong> przez <strong>administratora</strong>...
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="!'INVALID_PASSWORD,INVALID_EMAIL,USER_DISABLED'.includes(authService.getLoginErrorCode())">
      Coś poszło <strong>nie tak</strong>...
    </div>
  </div>
</div>
