<li class="list-group-item list-group-item-action mt-2 list-group-item-light">
  <div class="row pointer" (click)="onMoreInfo()">
    <div class="col-md-2">
      <img src="{{ carItem.image == null ? '/' : carItem.image }}" class="img-fluid" alt="{{ carItem.mark == null ? 'brak' : carItem.mark }} {{ carItem.model == null ? 'danych' : carItem.model }}">
    </div>

    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          <app-data-element [key]="'Marka'" [value]="carItem.mark" [isMarked]="carItem.isMarked"></app-data-element>
          <app-data-element [key]="'Model'" [value]="carItem.model"></app-data-element>
          <app-data-element [key]="'Lata Produkcji'" [value]="carItem.productionYear"></app-data-element>
          <!-- Informacje pokazywane na klik -->
          <div *ngIf="showMoreInfo">
            <app-data-element [key]="'Zbiornik Paliwa'" [value]="carItem.fuelTank" [suffix]="'l'"></app-data-element>
            <app-data-element [key]="'Projektant'" [value]="carItem.designer"></app-data-element>
            <app-data-element [key]="'Napęd'" [value]="carItem.drive"></app-data-element>
            <app-data-element [key]="'Ładowność'" [value]="carItem.capacity" [suffix]="'l'"></app-data-element>
            <app-data-element [key]="'Wersje Wyposazenia'" [value]="carItem.eqVersions"></app-data-element>
          </div>
        </div>
        <!-- Tablice obiektów -->
        <div class="col-md-7 mt-2" *ngIf="showMoreInfo">
          <app-gearboxes [gearboxList]="carItem.gearboxes"></app-gearboxes>
          <app-engines [engineList]="carItem.engines"></app-engines>
          <app-body-types [bodyTypeList]="carItem.typesOfBody"></app-body-types>
        </div>        
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showMoreInfo">
    <div class="col-12">
      <hr />
      <button type="button" class="btn btn-outline-primary" (click)="onEdit()">Edytuj <i class="far fa-edit"></i></button>
      <button type="button" class="btn btn-outline-danger ml-1" (click)="onDelete()">Usuń <i class="fas fa-trash-alt"></i></button>
      <button type="button" class="btn btn-outline-warning ml-1" (click)="onMark()">Wyróżnij <i class="fas fa-highlighter"></i></button>
    </div>
  </div>
</li>
