<!-- <div class="row mt-2">
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Marka" [(ngModel)]="newCar.mark">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Model" [(ngModel)]="newCar.model">
        </div>
        <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Lata Produkcji" [(ngModel)]="newCar.productionYear">
        </div>
        <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Projektant" [(ngModel)]="newCar.designer">
        </div>
        <div class="col-md-2">
                <input type="number" class="form-control" placeholder="Zbiornik Paliwa (w litrach)" [(ngModel)]="newCar.fuelTank">
        </div>
      </div>
<div class="row">
    <div class="col-md-10 mt-2">
            <input type="text" class="form-control" placeholder="Link do Zdjęcia" [(ngModel)]="newCar.image">
    </div>
    <div class="col-md-2 mt-2">
            <button (click)="onAddCar()" type="button" class="btn btn-info">Dodaj Samochód <i class="fas fa-car"></i></button>            
    </div>
</div> -->
<div class="btn-group mt-2" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-outline-secondary" (click)="onMarkSortCar()">Sortuj wg marki <i class="fas fa-sort-alpha-down"></i></button>
  <button type="button" class="btn btn-outline-secondary" (click)="onCapacitySortCar()">Sortuj wg ładowności <i class="fas fa-sort-alpha-down"></i></button>
  <button type="button" class="btn btn-outline-secondary" (click)="onMarkedSortCar()">Sortuj wg wyróżnienia <i class="fas fa-sort-alpha-down"></i></button>
</div>
<div class="list-group">
  <app-car
    *ngFor="let car of carList"
    [carItem]="car">
  </app-car>
</div>
