<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2 title">
        <h1><b>Carspedia -</b> Najbardziej rozbudowana baza samochodów w internecie</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Witam na Carspedii - najbardziej rozbudowanej bazy samochodów w internecie. Znajdziesz tutaj mnóstwo samochodów. Rodzinne, miejskie, sportowe, luksusowe, stare, nowe itd...
        W każdym poszczególnym okienku samochodu podstawowo znajdziesz markę, model oraz lata produkcji. Jeśli zainteresował cię samochód, możesz go rozwinąć - po prostu kliknij na
        jego okienko. Po rozwinięciu znajdziesz informacje o pojemmności bagażnika, silnikach, skrzyniach biegów itp. Możesz również sortować samochody oraz szukać poszczególnych po
        tagach. Do tego posużą Ci rozwijane przyciski, umieszczone na górze Listy Samochodów. Możesz również zarejestrować się za pomocą przycisku na pasku, lecz gdy już posiadasz
        konto, aby się zalogować kliknij guzik "Zaloguj się" obok rejestracji. Narazie konta nie wnoszą żadnych nowych funkcji, lecz w niedalekiej przyszłości dodam funkcje kont,
        ponieważ Carspedia jest stale rozwijana. Mam nadzieję, że dzięki tej notatce wiesz już jak poruszać się po mojej stronie internetowej. Kliknij teraz na przycisk "Lista
        Samochodów" na pasku i zacznij odkrywać samochody!
      </p>
      <p>
        Pozdrawiam,<br>
        Developer strony - Jan Oleński
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 title">
      <h1><b>Tablica Informacyjna</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
<!--      <button type="button" class="btn btn-outline-danger ml-2" style="font-size: 18pt" placement="right" ngbPopover="Z powodu przebudowy bazy danych w okienku samochodu nie będzie dostępne zdjęcie pojazdu. Przepraszam za utrudnienia." popoverTitle="Brak zdjęć pojazdów">-->
<!--        Brak zdjęć pojazdów-->
<!--      </button>-->
    </div>
  </div>
</div>
